html, body {
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	width: 100vw;
	height: 100vh;
	background-image: url("https://images.pexels.com/photos/589821/pexels-photo-589821.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	user-select: none;
}

#quoteBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
	background-color: rgba(0, 0, 0, 0.5);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	box-sizing: border-box;
	padding: 2rem;
	
	color: white;
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 10vmin;
	text-align: center;
}
