html, body {
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	width: 100vw;
	height: 100vh;
}

h1 {
	margin: 0;
	padding: 1rem;
}

@keyframes fall {
	from {
		top: -100px;
	} to {
		top: 100%;
	}
}
