html, body {
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	width: 100vw;
	height: 100vh;
	background-image: url("https://images.pexels.com/photos/589821/pexels-photo-589821.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	user-select: none;
}

h1 {
	margin: 0;
	padding: 1rem;
}
